body {
    background-color: ghostwhite;
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 600px;
    text-align: center;
}

h1 {
    text-align: center;
    margin: 30px 0;
    color: green;
}

ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

li {
    margin: 5px 0;
    font-weight: normal;
}

select, button {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#showPriceButton {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#showPriceButton:hover {
    background-color: #45a049;
}

.price-result {
    color: green;
    margin-top: 20px;
    display: none;
}

.select-container {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin-bottom: 20px;
}

.select-container > div {
    flex: 1;
    margin-right: 10px;
    margin-top: 50px;
}

.select-container > div:last-child {
    margin-right: 0;
}

#priceResult {
    color: green;
    background-color: #e0f2f1;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    display: none;
    width: auto;
    text-align: center;
}

.favorite-btn-container {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.favorite-btn {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    border: none;
}

.favorite-btn:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

.favorited {
    color: gold;
}

.not-favorited {
    color: gray;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    text-align: left;
}

.login-link{
    background-color: green;
    padding: 10px 15px;
    border-radius: 5px;
    margin-left: auto;
}

.login-link a:hover {
    background-color: #45a049;
}

.success-message {
    color: #28a745;
    font-size: 16px;
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    max-width: 400px;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.login-button {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 15px;
}

.login-button:hover {
    background-color: #45a049;
}





