{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

    {% block body %}
        <h1>About</h1>
        <p>"Crypto Prices" is a web-based application that delivers real-time cryptocurrency prices. 
        Users can register to personalize their experience, tracking favorite cryptocurrencies and receiving 
        up-to-date market information.The application relies on the Coinbase API for accurate pricing data, supporting
         both casual enthusiasts and serious investors in navigating the crypto market.</p>
{% endblock %}