{% extends 'base.html.twig' %}

{% block title %}Favourite Currencies{% endblock %}

{% block body %}
    <h1>Favourite Currencies</h1>
    <select id="favouriteCurrenciesDropdown">
        <option selected>&#9733;</option> <!-- Unicode zvezda -->
        {% for currency in favourites %}
            <option value="{{ currency.currency_name }}">{{ currency.currency_name }}</option>
        {% endfor %}
    </select>
{% endblock %}
