{% extends 'base.html.twig' %}

{% block title %}List of Currencies{% endblock %}

{% block body %}
    <h1>List of Currencies</h1>
    <ul>
        {% for currency in currencies %}
            <li>{{ loop.index }}. <strong>{{ currency.id }}</strong> - {{ currency.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}

